$padding: 0;
$margin: 0;
$boxSizing: border-box;
$flex: flex;
$socialsWidth: 50px;
$gainsboro: gainsboro;
$spacebetween: space-between;
$navColor: #F8F9FA;
$fixedPosition: fixed;
$textDecor: none;
$navTextColor: black;
$navFontSize: 25px;
$fontFamily: "montserrat";
$h2Font: 70px;
$bgURL: url(../img/harry1.jpg);
$bgSize: cover;
$bgRepeat: no-repeat;
$h2ColorRed: #EC2E57;
$alignCenter: center;
$alignJustify: justify;
$grid: grid;
$gridTemplate: auto auto auto;
$gap: 10px;
$paddingH2: 50px 50px 0px 50px;
$pFont: 25px;
$paddingP: 0px 50px 50px 50px;
$autoMargin: auto;
$h3Font: 20px;
$h1Font: 'Dancing Script', cursive;
$Whitesmoke: whitesmoke;
$colorBlack: black;